.presentation {
  height: 90%;
  color: white;
  display: flex;
  background: none;
  position: relative;

  &__slider {
    .slider {
      &__element {
        position: absolute;
        height: 100%;
        z-index: 0;
        width: 100%;
        opacity: 0;
        background-position: center;
        background-size: cover;

        &:nth-child(1) {
          background-image: url("assets/landing-top-slider-3.jpg");
        }

        &:nth-child(2) {
          background-image: url("assets/landing-top-slider-4.jpg");
        }

        &--current {
          opacity: 100%;
        }
      }
    }
  }

  &__navbar {
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 1;

    h2 {
      margin-left: 20px;
      font-family: "Noto serif", sans-serif;
      font-style: italic;
      letter-spacing: 1.5px;
    }
  }

  &__text {
    align-self: center;
    width: 50%;
    text-align: center;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);

    h2 {
      font-weight: 100;
      font-style: italic;
    }

    h1 {
      font-size: 70px;
      font-family: "Monserrat", sans-serif;
      text-transform: uppercase;
      margin-block: 20px;
    }

    .btn {
      color: black;
      background-color: white;
      text-transform: uppercase;
      font-size: 17px;
      letter-spacing: 2px;
      width: 300px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      align-self: center;

      p {
        font-family: "Monserrat", sans-serif;
        font-weight: 500;
      }

      &:before {
        width: 10px;
        height: 2px;
        content: "";
        background: black;
        margin-right: 7px;
        transition: 0.2s ease-in-out;
      }

      &:hover::before {
        width: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .presentation {
    width: 100% !important;

    &__text {
      p {
        font-size: 20px;
      }
    }
  }
}
