#test {
  color: white;
  height: 650px;
  background-image: url("assets/landing-slider1-background.jpg");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;

  .test-presentation {
    width: 40%;

    h2 {
      text-transform: uppercase;
      font-size: 37px;
      letter-spacing: 3px;
      margin-top: 7px;
    }

    h4 {
      font-family: "Nont serif", sans-serif;
      font-size: 24px;
      font-style: italic;
    }

    .btn {
      color: white;
      text-transform: uppercase;
      font-size: 17px;
      letter-spacing: 2px;
      width: 300px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      align-self: center;

      p {
        font-family: "Monserrat", sans-serif;
        font-weight: 500;
      }

      &:before {
        width: 10px;
        height: 2px;
        content: "";
        background: white;
        margin-right: 7px;
      }
    }
  }

  .test-images {
    width: 40%;
    position: relative;
    top: 0;

    img {
      position: absolute;
    }

    #img-1 {
      bottom: 36;
      right: 0;
    }

    #img-2 {
      top: -105px;
      z-index: 1;
    }

    #img-3 {
      top: 59px;
      right: 110px;
    }
  }
}
